:root{
   --background2:#0a202f;
   --background:#0a0c2f;
   --white:#fbfffe;
   --lBlue:#64ffda;
   --cb : cubic-bezier(0.785, 0.135, 0.15, 0.86);
   transition: all .3s ease-out;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik:wght@300;400&family=Source+Code+Pro:wght@900&family=Space+Mono&display=swap');
body,html{
   padding:0;
   margin:0;
   background: var(--background);
   color:var(--white);
   overflow-x: hidden;
}
a{
   text-decoration: none;
}
#Logo{
   height: 60px;
   margin: 20px 10px 20px 10px;
}
.logo {
	fill: var(--lBlue);
}
nav{
   width: 100%;
   position: fixed;
   display: flex;
   align-items: center;
   font-family: space mono;
   padding-left:2.5em;
   ul{
      padding-right:5em;
      width: 100%;
      display: flex;
      list-style: none;
      justify-content: end;
      a{
         margin: 10px 20px 10px 20px;
         li{
            color:var(--white);
            transition: all .3s ease-out;
            font-size: .7em;
            &:hover{
               transition: all .3s ease-out;
               color:var(--lBlue);
            }
         }
      }
   }
}

span{
   color:var(--lBlue);
}
#socials{
   position:fixed;
   bottom:0;
   margin-left: 3em;
   text-align: center;
   ul{
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: end;
      padding: 0;
      a{
         margin: 10px 0px 10px 0px;
         li{
            color:var(--white);
            font-size: .7em;
            .socials{
               opacity: .8;
               width:25px;
               transition: all .3s ease-out;
               fill:var(--white);
               &:hover{
                  transition: all .3s ease-out;
                  opacity: 1;
                  fill: var(--lBlue);
               }
            }
         }
      }
   }
}
.rect{
   fill:var(--white);
}
.titleRect{
   margin-top: auto;
   margin-bottom: auto;
}
#email{
   position:fixed;
   bottom:0;
   right: 3em;
   text-align: center;
   width:25px;
   ul{
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: end;
      padding: 0;
      a{
         position: absolute;
         top:0;
         left:0;
         transform-origin:0 0 ;
         opacity: .8;
         transform:translate(22px,-15.25em) rotate(90deg);
         color:var(--white);
         transition: all .3s ease-out;
         letter-spacing: 2;
         font-size: .8em;
         font-family: space mono;
         li{
            transition: all .3s ease-out;
         }
         &:hover{
               transition: all .3s ease-out;
               opacity: 1;
               transform:translate(22px,-16.5em) rotate(90deg);
               color:var(--lBlue);
            }
      }
   }
   .rect{
      fill:var(--white);
   }
}
#main{
   min-height: 100vh;
   p{
      max-width: 500px;
   }
}
section{
   margin: auto;
   width: 1000px;
   display:flex;
   flex-direction: column;
   justify-content: center;
}
h1{
   font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
   font-size: 4em;
   font-weight: 900;
   opacity: .9;
   margin: 0 0 0px 0;
}
h2{
   font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
   font-size: 3em;
   font-weight: 600;
   opacity: .6;
   margin: 0 0 15px 0;
}
h3{
   font-family: space mono, monospace;
   margin: 0 0 0px 0;
   color: var(--lBlue);
}
h4{
   font-family: space mono, monospace;
   margin: 0 0 10px 0;
   opacity: .9;
}
p{
   font-family:  'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
   margin-bottom: 15px;
}


.filterImg{
   position: relative;
   transition: all .3s ease-out;
   .imgg{
      position: relative;
      background-size:cover;
      background-position:center;
      border-radius:15px;
      transition: all .3s ease-out;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      }
   .theImage{
      padding:0;
      position:absolute; top:0px; right:0px; bottom:0px; left:0px;
		margin:0;
		border-radius:15px;
		transition: all .3s ease-out;
		.circleClip{
			transition: all .3s ease-out;
		}
		.filler{
			opacity: 0.5;
			fill:var(--lBlue);
		}
		.bottom{
			fill:red;
			opacity:0;
		}
	}
   &:hover{
      .imgg{
         -webkit-filter: grayscale(0%);
         filter: grayscale(0%);
      }
      transition: all .3s ease-out;
      transform: scale(1.02);
   }
}

.container-two{
   display: flex;
   flex-direction: row;
   width: 100%;
   flex-wrap: wrap;
   >div{
      max-width: calc(50% - 40px);
      margin: 20px;
   }
   ul{
      list-style:disc;
      margin-right: 30px;
   }
   h3{
      font-family: space mono, monospace;
      font-size: 1.5em;
      margin: 20px 20px 20px 0px;
      color: var(--white);
   }
}

//scrollbar
/* width */
::-webkit-scrollbar {
	width: 5px;
   margin-top: 1%;
   margin-bottom: 1%;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--lBlue);
   border-radius: 15px;
	transition: all 0.2s;
}

::selection {
	background: black;
}